---
import FormattedDate from "../../components/FormattedDate.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getPostSortedByDate } from "../../api/blog";

const posts = getPostSortedByDate();
---

<BaseLayout title="Blogs" description="Blog list" fullWidth>
  <section>
    <ul>
      {
        // TODO add category
        posts.map((post) => (
          <li class="my-2 flex flex-col md:flex-row">
            <div class="flex-1">
              <a rel="prefetch" href={`/blog/${post.slug}`}>
                <div class="underline underline-offset-4">
                  {post.data.title}
                </div>
              </a>
            </div>
            <div class="flex flex-row">
              {post.data.categories.split(",").map((category) => (
                <a href={`/blog/category/${category.trim()}`}>
                  <div class="hover:underline underline-offset-4 opacity-60 mr-2">
                    {category.trim()}
                  </div>
                </a>
              ))}
              <p class="ml-auto md:ml-0">
                <FormattedDate date={post.data.date} />
              </p>
            </div>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
