---
import pluralize from "../utils/pluralize";

import type { CollectionEntry } from "astro:content";

import FormattedDate from "../components/FormattedDate";

import BaseLayout from "./BaseLayout.astro";

// KaTeX CSS
import "katex/dist/katex.min.css";
// CSS for the blog post
import "../styles/blog-post.css";

import { convertStringCategoriesToArray } from "../api/blog";
import { interleave } from "../utils";
import type { MarkdownHeading } from "astro";
import MediumZoom from "@/components/MediumZoom";

type Props = CollectionEntry<"blog">["data"] & { headings: MarkdownHeading[] };
const { title, description, date, categories, headings } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <MediumZoom selectors={["article img"]} client:only />
  <div class="max-w-screen-md mx-auto">
    <div class="font-serif mb-4">
      <h1 class="text-3xl mb-1">{title}</h1>
      <FormattedDate date={date} />
      <div>
        {
          pluralize(
            "Category",
            convertStringCategoriesToArray(categories).length,
            false,
          )
        }
        {": "}
        {
          interleave(
            convertStringCategoriesToArray(categories).map((category) => (
              <a href={`/blog/category/${category}`}>
                <span class="hover:underline underline-offset-4">
                  {category}
                </span>
              </a>
            )),
            "/",
          )
        }
      </div>
    </div>
    <hr />
    <article class="min-w-0">
      <!-- Description -->
      {
        description ? (
          <p class="text-zinc-600 border-l-4 border-zinc-300 px-4 py-2 my-6 bg-zinc-50">
            {description}
          </p>
        ) : null
      }
      <!-- Main Content -->
      <slot />
    </article>
  </div>
</BaseLayout>
