---
import pluralize from "../utils/pluralize";

import type { CollectionEntry } from "astro:content";

import FormattedDate from "../components/FormattedDate";

import BaseLayout from "./BaseLayout.astro";

// KaTeX CSS
import "katex/dist/katex.min.css";
// CSS for the blog post
import "../styles/blog-post.css";

import { convertStringCategoriesToArray } from "../api/blog";
import { interleave } from "../utils";
import type { MarkdownHeading } from "astro";

type Props = CollectionEntry<"blog">["data"] & { headings: MarkdownHeading[] };
const { title, description, date, categories, headings } = Astro.props;
---

<script>
  import mediumZoom from "medium-zoom";
  mediumZoom("article img");
</script>

<BaseLayout title={title} description={description}>
  <div class="max-w-screen-md mx-auto">
    <div class="font-serif mb-4">
      <h1 class="text-3xl mb-1">{title}</h1>
      <FormattedDate date={date} />
      <div>
        {
          pluralize(
            "Category",
            convertStringCategoriesToArray(categories).length,
            false
          )
        }
        {": "}
        {
          interleave(
            convertStringCategoriesToArray(categories).map((category) => (
              <a href={`/blog/category/${category}`}>
                <span class="hover:underline underline-offset-4">
                  {category}
                </span>
              </a>
            )),
            "/"
          )
        }
      </div>
    </div>
    <hr />
    <div class="flex flex-row">
      <article class="min-w-0">
        <slot />
      </article>
      <!-- TODO adjust height -->
      <!-- <aside
          class="hidden md:block pl-4 sticky top-0 self-start h-[90vh] mt-4 min-w-48"
        >
          <div class="flex flex-col h-full">
            <div id="reading-progress"></div>
            <div class="text-lg font-bold">ToC</div>
            <div class="overflow-y-auto">
              <TableOfContent headings={headings} />
            </div>
            <div class="py-2"></div>
            <ReadingProgress querySelector="article" client:only="react" />
          </div>
        </aside> -->
    </div>
  </div>
</BaseLayout>
