---
import LinkButton from "../../components/IconLink";
import config from "config";

const { contacts: links, description } = config.hero;
---

<div class="flex flex-col gap-7.5 my-5">
  <div class="flex flex-col gap-2.5 justify-between">
    <picture>
      <source srcset="/avatar.avif" type="image/avif" />
      <source srcset="/avatar.webp" type="image/webp" />
      <img
        src="/avatar.png"
        alt="Avatar"
        class="w-24 h-24 rounded-full aspect-square"
      />
    </picture>
    <div class="mt-auto">
      <h1 class="text-3xl font-bold">{config.title}</h1>
      <p class="text-sm text-zinc-400 mt-1">
        {config.description}
      </p>
    </div>
  </div>
  <div>
    {
      Array.isArray(description) ? (
        description.map((desc) => <p>{desc}</p>)
      ) : (
        <p>{description}</p>
      )
    }
  </div>
  <div>
    <div class="flex gap-4 flex-row py-1">
      {
        links.map((link) => (
          <div>
            <LinkButton
              icon={link.icon}
              link={link.link}
              name={link.name}
              hideText={true}
              size="lg"
            />
          </div>
        ))
      }
    </div>
  </div>
</div>
